/* Font configuration */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Main content styling */
#content {
    background-size: 40px 40px;
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.01) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.01) 1px,
            transparent 1px
        );
}
